.board-card.tile{
	width: 14.5rem;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 5px 5px;

}

.board-card.header{
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}

.board-card.banner-img {
	padding: 5px 5px 0;
}

.board-card.banner-img img {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.board-card.options{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:10px 5px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.board-card.options div{
	float:left;
	width:50%;
	text-align:left;
	position:relative;
}
.board-card.options strong {
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}

.container{
    padding-top: 50px;
}

#messagebox{
    border: solid 1px #cecece;
    min-height: 100px;
    color: #4B515D;
}

#messagebox.success{
    border: solid 1px #00C851;
    border-left: solid 4px #00C851;
}

#messagebox.fail{
    border: solid 1px #ff4444;
    border-left: solid 4px #ff4444;
}

#messagebox.warning {
    border: solid 1px #ffbb33;
    border-left: solid 4px #ffbb33;
}

#messagebox-icon{
    padding: 1em;
}

#messagebox-detail-link{
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    right: 0;
}

#messagebox-header{
    padding-left: 0.6em;
}

#expanded-status{
    border: solid 1px black;
}
